<div class="container-fluid col-sm-12" >
        <form [formGroup]="registerForm" class="normal-form"  (ngSubmit)="registerForm.valid && saveParams(registerForm)">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active red bold" aria-current="page">Param General App</li>
                </ol>
            </nav>
            
            <mat-grid-list cols="2" rowHeight="300px" style="margin-top: -20px;">
                <mat-grid-tile style="width:50px" >
                    <div class="controles-container">
                        <mat-form-field>
                            <input formControlName="login_attempt" matInput  placeholder="login attempt" />
                            <mat-error>Champ login_attempt  est Obligatoire</mat-error>
                        </mat-form-field>
    
                        <mat-form-field>
                            <input formControlName="session_timeout" matInput  placeholder="session_timeout" />
                            <mat-error>Champ session_timeout est Obligatoire</mat-error>
                        </mat-form-field>
                      
                        <mat-form-field>
                            <input formControlName="taux_tva" matInput  placeholder="taux_tva" />
                            <mat-error>Champ taux_tva est Obligatoire</mat-error>
                        </mat-form-field>
    
                
                        <div class="add-button-padding">
                            <section class="example-section">
                                <mat-checkbox class="example-margin" value="{{keepConnexion}}" formControlName="keepConnexion">keep Connexion</mat-checkbox>
                            </section>
                            <section class="example-section">
                                <mat-checkbox class="example-margin" value="{{reconnect}}" formControlName="reconnect">Reconnect</mat-checkbox>
                            </section>
                        </div>
                          
                        <div class="button-row">
                            <input type="hidden" formControlName="$id_param_gen" />
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile style="width:30px;margin-top: 25px;">
                    <div class="controles-container"> 
                        <mat-form-field >
                            <input formControlName="password_complexite" matInput  placeholder="Password Complexite" />
                            <mat-error *ngIf="registerForm.controls['password_complexite'].errors?.required">Champ password_complexite est Obligatoire</mat-error>
                            <mat-error *ngIf="registerForm.controls['password_complexite'].errors?.maxlength">Champ password_complexite est Obligatoire</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="format_facture" matInput  placeholder="format_facture" />
                            <mat-error>Champ format_facture est Obligatoire</mat-error>
                        </mat-form-field>
    
                    
                        <div class="button-row">
                            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Submit</button>
                            <button type="reset"  class="btn btn-light">Annuler</button>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </div>