

<div class="container col-sm-12 col-sm-offset-2">
        <form #f="ngForm" class="form-horizontal"  (ngSubmit)="changepass(f)"  novalidate>
          <div class="form-group">
             <div class="col-sm-3"></div>
             <div class="col-sm-3"></div>
          </div>
        
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Login</label>
            <div class="col-sm-3">
              <input type="text" 
                  class="form-control"
                  #inputUsername="ngModel"  
                  [(ngModel)]="Username"
                  name="inputUsername"  
                  required 
                  [ngClass]="{'has-danger': inputUsername.invalid && (inputUsername?.dirty || inputUsername?.touched),'has-success': inputUsername.valid && (inputUsername.dirty || inputUsername?.touched)}"
              />
            </div>
            <div *ngIf="inputUsername.errors && ( inputUsername.dirty || inputUsername?.touched)">
                <div *ngIf="( f.submitted || f.invalid ) && inputUsername.error?.required" class="help-block">Login est Obligatoire</div>
            </div>
        
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Old Password</label>
            <div class="col-sm-3">
              <input type="text"  
                #inputOldPassword="ngModel" 
                [(ngModel)]="OldPassword"
                name="inputOldPassword"  
                class="form-control"
                required 
              
                reverse="true"
                [ngClass]="{
                    'has-danger' : inputOldPassword?.errors?.validateEqual == true && (  (inputOldPassword.dirty || inputOldPassword?.touched)),
                    'has-success':( inputOldPassword.errors == null || inputOldPassword?.errors?.validateEqual == false ) || ( inputOldPassword.valid && (inputOldPassword.dirty || inputOldPassword?.touched))
                }"
                
              />

            
              <div *ngIf="inputOldPassword.errors && ( inputOldPassword.dirty || inputOldPassword?.touched)">
                  <div *ngIf="(inputOldPassword?.errors?.validateEqual == true)"  class="help-block">Choisir un mot passe non identique à l'ancien</div>
                  <div *ngIf="( f.submitted || f.invalid ) && inputOldPassword.errors?.required" class="help-block">Old Password est Obligatoire</div>
              </div>
            </div>

          </div>
          
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">New Password</label>
            <div class="col-sm-3">
                <input type="text" name="inputNewPassword" #inputNewPassword="ngModel"  [(ngModel)]="NewPassword"  
                  required  
                  validateEqual="inputOldPassword"  
                  class="form-control" 
          
                  [ngClass]="{
                      'has-danger' : (( inputNewPassword.invalid || inputNewPassword.errors == null ) && ( inputNewPassword.dirty || inputNewPassword?.touched) ) ,
                      'has-success': ( inputNewPassword.valid && (  inputNewPassword.invalid && inputNewPassword.errors?.validateEqual != true  || inputNewPassword.errors == null)) || ( inputNewPassword.valid && (inputNewPassword.dirty || inputNewPassword?.touched)) }"
                />
            
                <div *ngIf="inputNewPassword.errors && ( (inputNewPassword.dirty || inputNewPassword.touched) || !f.submitted)" >
                    <div *ngIf="(inputNewPassword?.errors?.validateEqual == true)"  class="help-block">Choisir un mot passe non identique à l'ancien</div>
                    <div *ngIf="inputNewPassword.errors.required" class="help-block">* Nouveau mot de passe obligatoire</div>
                </div>

            </div>
          </div>
         
          
          <div class="formulaire_button">
              <button type="submit" [disabled]="f.invalid" class="btn btn-info">Valider</button> &nbsp;
              <button type="reset" class="btn btn-info">Annuler</button>  
          </div> 
        </form>
        </div>
        
        
        